.appBody{
    min-width:800px;
    width: auto !important;
    width:800px;
}

.textarea {
    border: none;
    resize: none;
    min-height: 30px;
    box-sizing: content-box;
}

.indexZ {
    z-index: 0;
}

.cardwidth{
    width: 70%;
}

.ulwidth{
    width: 50%;
}

.textalign{
    text-align: center;
}

.cardheight{
    height:300px;
}


.titlefit{
    height:75%;
    width:75%;
    padding:1%;
    margin: 10px;
}

.chatbotstyle{
    z-index: 2;
    width: 25%;
}

.loginstyle{
    z-index: 3;
}

.linenumber{
    font-size: small;
    height:40px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
}

.imagestyle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-height: 400px;
}

.linkbottom{
    bottom: 0;
    position: absolute;
}