.textarea {
    border: none;
    resize: none;
    min-height: 30px;
}

.indexZ {
    z-index: 0;
}

.cardwidth{
    width: 72%;
}

.cardheight{
    height:300px;
}

.chatbotstyle{
    z-index: 2;
    width: 25%;
}

.loginstyle{
    z-index: 3;
}

.linenumber{
    font-size: small;
    height:40px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;
}